main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  color: #12290f;
  width: 70vw;
  margin: 15px 0;
}

/* //DISPLAY SECTION \\ */
#nutrient-result {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
}

#nutrient-table {
  min-width: 90%;
}

.select-button {
  text-decoration: underline;
}

.select-button:hover {
  cursor: pointer; 
  background-color:#FFFF00;
}

.edit-button:hover {
  cursor: pointer;
  background-color:#FFA500;
}

.delete-button:hover {
  cursor: pointer; 
  background-color:#f57979; 
}

.create-button:hover {
  cursor: pointer; 
  background-color:#c4ffbc;
}

.page-nav-button:hover {
  cursor: pointer; 
  background-color:#FFFF00;
}