* {
  margin: 0;
  padding: 0;
}
.navbar {

  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  width: 100%;
  box-shadow: 0 3px 10px 0 rgba(21, 24, 26, .1);
  background-color: white;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10%;
  overflow: hidden;
}

.navbar-list > li {
  display: inline;
  float: left;
}

.navbar-list > a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

li a {
  display: block;
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

li a:hover {
  border-bottom: 2px solid #56c048;
  color: rgb(0, 104, 21);
}

li:last-child {
  border-right: none;
  float: right;
  border-left: 1px solid #bbb;
  padding-right: 3px;
} 

/* //GENERAL\\ */

thead {
  font-family: 'Raleway', cursive;
  font-weight: 400;
  color: #222;
}

tbody {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #575757;
}
